@model Thomas.Irwin.Ryan.Falcon.Lab6.Models.post

@{
    ViewBag.Title = "Details";
}

<h2 style="text-align: center; margin-bottom:30px;">Post Details</h2>

<div>
    <div style="margin-bottom:10px; display:inline-block; width:100%; text-align: center">
        <h3>
            @Html.DisplayFor(model => model.title)
        </h3>
        <div style="padding: 10px; font-weight:600;">
            Author:
            @Html.DisplayFor(model => model.user.firstName)
            @Html.DisplayFor(model => model.user.lastName)
        </div>
        <div style="padding: 10px; font-weight:600;">
            Category:
            @Html.DisplayFor(model => model.category)
        </div>

            <div style=" text-align:match-parent; padding-bottom:15px;">

                @Html.DisplayFor(model => model.content)
            </div>
        </div>
<div style="text-align:center;">
	<div class="btn btn-default" style="margin-left: 20px; margin-bottom:150px; ">
		@Html.ActionLink("Edit", "Edit", new { id = Model.postId })
	</div>
	<div class="btn btn-default" style="margin-left: 20px; margin-bottom:150px;">
		@Html.ActionLink("Back to List", "Index")
	</div>
</div>
