@model Thomas.Irwin.Ryan.Falcon.Lab6.Models.post

@{
    ViewBag.Title = "Details";
}

<h2 style="text-align: center; margin-bottom:30px;">Post Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.content)
        </dd>

    </dl>
</div>
<p>
	<div class="btn btn-default" style="margin-left: 20px; margin-bottom:150px;">
		@Html.ActionLink("Edit", "Edit", new { id = Model.postId })
	</div>
	<div class="btn btn-default" style="margin-left: 20px; margin-bottom:150px;">
		@Html.ActionLink("Back to List", "Index")
	</div>
</p>
